<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 text-center">
      <p>Контакти:<br>
        тел.: (032) 235-68-48<br>
        факс: (032) 235-68-48<br>
        e-mail: centredms@gmail.com</p>
    </div>
    <div class="col-md-4 text-center">
      <p>Адреса нашого офісу:<br>
        Україна, м. Львів<br>
        вул. Руська, 3<br>
        79008</p>
    </div>
    <div class="col-md-4 text-center social">
      <a href="https://www.facebook.com/Центр-досліджень-місцевого-самоврядування-165382680163970/"><i class="fab fa-facebook"></i></a>
      <a href="https://www.youtube.com/channel/UCebLEys3r4LDMNAvn_Xc7Ew"><i class="fab fa-youtube"></i></a>
      <a href="https://twitter.com/CDMS_LVIV"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
  <hr>
  <div class="text-center copyright">
    <span class="copyright-text"><i class="far fa-copyright"></i> Центр досліджень місцевого самоврядування 2007-2018</span>
  </div>
</div>
