<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 text-center">
      <p>Контакти:<br>
        тел.: (032) 235-68-48<br>
        факс: (032) 235-68-48<br>
        e-mail: centredms@gmail.com</p>
    </div>
    <div class="col-md-4 text-center">
      <p>Адреса нашого офісу:<br>
        Україна, м. Львів<br>
        вул. Руська, 3<br>
        79008</p>
    </div>
    <div class="col-md-4 text-center social">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
  <hr>
  <div class="text-center copyright">
    <span class="fa fa-copyright"></span>
    <span class="copyright-text">Центр досліджень місцевого самоврядування - Copyright 2018</span>
  </div>
</div>
<!--<footer class="footer">-->
  <!--<div class="container-fluid">-->
    <!--<div class="row">-->
      <!--<div class="col-md-4">-->
        <!--<h2>Footer</h2>-->
      <!--</div>-->
      <!--<br>-->
      <!--<div class="col-md-offset-4 col-md-4 copyright">-->
        <!--<span class="fa fa-copyright"></span>-->
        <!--<span class="copyright-text">Eco - Copyright 2018</span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</footer>-->