<div class="row">
    <div class="col-md-8">
        <!--<form>-->
            <!--<div class="input-group">-->
                <!--<input type="text" class="form-control" data-ng-model="vm.title" placeholder="Пошук" name="search">-->
                <!--<div class="input-group-btn">-->
                    <!--<button class="btn btn-default" type="submit" data-ng-click="vm.onSelectOptionChanged()">-->
                        <!--<i class="glyphicon glyphicon-search"></i>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
        <!--<div class="container-fluid">-->
            <!--<div class="row">-->
                <!--<div class="col-md-6 card lastnews" data-ng-repeat="findNew in vm.findNews">-->
                    <!--<img class="card-img-top" data-ng-src="{{findNew.image}}" alt="Card image" width="100%">-->
                    <!--<div class="card-body">-->
                        <!--<h5 class="card-title" data-toggle="tooltip" title="{{findNew.title}}" data-ng-bind="findNew.title"></h5>-->
                        <!--<a ui-sref="article({id:findNew.id})" class="btn btn-success">Детальніше</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="text-center" data-ng-show="vm.showbutton">-->
                <!--<a href="" class="btn btn-info" data-ng-click="vm.searchFunction()">Показати ще </a>-->
                <!--<br><br>-->
            <!--</div>-->
        <!--</div>-->
        <div class="main">
            <h2>Останні новини</h2>
            <div class="row">
                <div class="col-md-6 card lastnews" data-ng-repeat="lastNews in vm.lastNews">
                    <img class="card-img-top" data-ng-src="{{lastNews.image}}" alt="Card image" width="100%">
                    <div class="card-body">
                        <h5 class="card-title" data-toggle="tooltip" title="{{lastNews.title}}" data-ng-bind="lastNews.title"></h5>
                        <a ui-sref="article({id:lastNews.id})" class="btn btn-success">Детальніше</a>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container-fluid">
            <h2 class="text-center">Партнери</h2>
            <div class="partners">
                <a href=""><img data-ng-src="content/images/logo.png" alt=""></a>
                <a href=""><img data-ng-src="content/images/logo.png" alt=""></a>
                <a href=""><img data-ng-src="content/images/logo.png" alt=""></a>
                <a href=""><img data-ng-src="content/images/logo.png" alt=""></a>
                <br>
                <a href=""><img data-ng-src="content/images/logo.png" alt=""></a>
                <a href=""><img data-ng-src="content/images/logo.png" alt=""></a>
                <a href=""><img data-ng-src="content/images/logo.png" alt=""></a>
                <a href=""><img data-ng-src="content/images/logo.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="right text-center">
            <h5><b>Центр досліджень місцевого самоврядування</b></h5>
            <p>Неурядова аналітична організація, створена у 2007 році з метою
                сприяти розвитку в Україні місцевого самоврядування і громадянського суспільства загалом.</p>
        </div>
    </div>
</div>
