<eco-header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mobheader"><a class="logo" ui-sref="home">
        <img src="content/images/logo.png" alt="ЦДМС"></a>
      </div>
      <div class="col-md-6">
        <blockquote cite="https://uk.wikisource.org/wiki/Всякому_городу_нрав_и_права">
          <q>Всякому городу нрав і права...</q><br>Григорій Сковорода
        </blockquote>
      </div>
    </div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a ui-sref="home">Головна</a></li>
          <li><a ui-sref="about">Про нас</a></li>
          <li><a ui-sref="projects">Проекти</a></li>
          <li><a ui-sref="contacts">Контакти</a></li>
        </ul>
        <div class="navbar-right">
          <!--<a class="btn btn-default searchbutton" ui-sref="english">ENG</a>-->
          <a class="btn btn-default searchbutton" ui-sref="search">Пошук</a>
        </div>
      </div>
    </nav>
  </div>
</eco-header>
