<eco-aside>
  <div>
      <div class="subdom">
          <a href="http://old.cdms.org.ua/">Сайт ЦДМС (2007-2017)</a>
          <a href="http://eco.cdms.org.ua/">Екологічна сторона асоціації</a>
      </div>
      <hr>
      <div class="menu">
          <a ui-sref="news">Новини</a>
          <a ui-sref="categories({id:0})">Місцеве самоврядування і громадськість</a>
          <a ui-sref="categories({id:1})">Управління житловою нерухомістю</a>
          <a ui-sref="categories({id:2})">Муніципальне управління</a>
          <a ui-sref="publications">Публікації</a>
      </div>
      <hr>
      <h4 class="text-center"><b>Пропозиції від Центру</b></h4>
      <div class="menu">
          <a ui-sref="offers">Навчальні курси <q>Управління житловою нерухомістю</q></a>
          <!--<a ui-sref="">Впровадження системи управління якістю</a>-->
          <!--<a ui-sref="">Тренінг <q>Організація діяльності ЦНАП</q></a>-->
      </div>
  </div>
</eco-aside>
