.article {
  padding-right: 2%;

  .article-data {
    float: right;
  }

  .article-category {
    float: left;
  }

  img {
    margin: 5px 30px 5px 0;
    float: left;
    box-shadow: $boxShadowBackground;
  }

  p {
    text-align: justify;
    line-height: 1.8;
  }

  hr {
    margin: 0;
  }
}