.dashboard-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dashboard-image {
  margin-bottom: 10px;
}

.article-manage {

}

.select-image-container>input {
  display: none;
}

.select-image-overlay {
  margin: 10px 0;
}