$boxShadowBackground: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

@mixin card-body-style {
  .card-body {
    padding: 2%;

    .card-title {
      margin-top: 5px;
      font-size: 1.2em;
      line-height: 1.2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    a {
      background-color: #6bae62;
      border: none;
    }

    a:hover {
      background-color:#f9f19f;
      color: #000000;
      position: relative;
      top: 1px;
    }
  }
}

@mixin aside-style-one {
  padding: 8px;
  margin: 7px 0 14px 0;
  display: block;
  width: 100%;
  box-shadow: $boxShadowBackground;
  text-decoration: none;
}

@mixin aside-style-two {
  a:hover {
    background-color: #f9f19f;
    position: relative;
    top: 1px;
  }
}

body {
  width: 100%;
  height: 100%;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  margin-top: 7px;
}

.subdom {
  text-align: center;

  a:first-child {
    background-color: #ffcc00;
    color: black;
    @include aside-style-one;
  }

  a:last-child {
    background-color: #99ff66;
    color: black;
    @include aside-style-one;
  }

  @include aside-style-two;
}

.menu {
  text-align: center;

  a {
    background-color: #e5e5e5;
    color: black;
    @include aside-style-one;
  }

  @include aside-style-two;
}

.main {
  padding:0 20px;
}
.right {
  background-color:#e5e5e5;
  padding:15px;
  margin-top:7px;
  box-shadow: $boxShadowBackground;
}

.allnews {
  max-width: 31%;
  margin: 1%;
  padding: 0;
  box-shadow: $boxShadowBackground;

  @include card-body-style;
}

.lastnews {
  max-width: 48%;
  margin: 1%;
  padding: 0;
  box-shadow: $boxShadowBackground;

  @include card-body-style;
}

.cdmspublic {
  max-width: 50%;
  margin: 1% auto 3% auto;
  padding: 0;
  box-shadow: $boxShadowBackground;

  @include card-body-style;
}

.partners > a > img {
    margin: 1% 0 2% 1%;
    width: 23%;
}

.mainVideo {
  width: 100%;
  height: 400px;
}

@media (max-width: 991px) {

  .lastnews {
    max-width: 70%;
    margin: 1% auto 3% auto;
  }

  .allnews {
    max-width: 48%;
    margin: 1%;
  }
}

@media (max-width: 767px) {

  .lastnews {
    max-width: 90%;
    margin: 1% auto 3% auto;
  }

  .allnews {
    max-width: 90%;
    margin: 1% auto 3% auto;
  }
}