<div class="article-manage">
  <br>
  <form>
    <div class="row">
      <div class="col-md-6">
        <select-image data-image="vm.article.imgUrl" data-editable="true"></select-image>
      </div>

      <div class="col-md-6">
        <h3>Категорія:<br> {{vm.categories[vm.article.catId].title}}</h3>
        <h3>Змінити категорію</h3>
        <select ng-model="vm.selectedCat">
          <option selected disabled value="{{vm.article.catId}}">{{vm.categories[vm.article.catId].title}}</option>
          <option ng-repeat="categori in vm.categories track by $index" value="{{categori.catId}}">{{categori.title}}</option>
        </select>

        <div>
          <br>
          <input type="text" data-ng-model="vm.article.title" placeholder="Назва новини" class="form-control">
        </div>
      </div>
    </div>

    <summer text="vm.article.text"></summer>
  </form>
  <button data-ng-click="vm.manageArticle()" class="btn btn-success" data-ng-bind="vm.buttonText"></button>
</div>
