<div id="events-view">
  <h1>Events</h1>
  <div class="col-md-4 smaller">
    <button class="btn btn-default" data-ng-click="vm.config.filterCat = null">Show All</button>
    <cat-tree-indented cats='vm.cats' config="vm.config"><cat-tree-indented>
  </div>
  <div class="col-md-8">
    <div ng-repeat="event in vm.events | filter: vm.filter track by $index" class="row event-dashboard-thumb">
      <div class="col-md-4">
        <img style="width: 100%" ng-src="{{event.imageUrl}}">
      </div>
      <div class="col-md-8">
        <a ui-sref="dashboard.editevent({'eventId': event.id})">{{event.name}}</a>
      </div>
      <div class="pull-right">
        <button class="btn btn-default btn-sm"
          data-ng-if="event.isFixed"
          data-toggle="tooltip" title="Unlock event"
          ng-click="vm.fixEvent(event)">
          <i class="fa fa-lock" aria-hidden="true"></i>
        </button>
        <button class="btn btn-default btn-sm"
                data-ng-if="!event.isFixed"
                data-toggle="tooltip" title="Fix event"
                ng-click="vm.fixEvent(event)">
          <i class="fa fa-unlock" aria-hidden="true"></i>
        </button>
        <button class="btn btn-default btn-sm" ng-click="vm.editEvent(event)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button class="btn btn-danger btn-sm" ng-click="vm.removeEvent(event, $index)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>

