<div class="article-manage">
  <form>
    <div class="row">
      <div class="col-md-4">
        <select-image-manual data-image="vm.manual.imgUrl" data-editable="true"></select-image-manual>
      </div>
      <div class="col-md-8">

        <h1>Категорія: {{vm.categories[vm.manual.catId].title}}</h1>
        <h1>Змінити категорію</h1>
        <select ng-model="vm.selectedCat">
          <option selected disabled value="{{vm.manual.catId}}">{{vm.categories[vm.manual.catId].title}}</option>
          <option ng-repeat="categori in vm.categories track by $index" value="{{categori.catId}}">{{categori.title}}</option>
        </select>

        <h1>{{vm.selectedCat}}</h1>

        <div class="input-group">
          <input type="text"
                 data-ng-model="vm.manual.title"
                 placeholder="Manual Title"
                 class="form-control">
        </div>

        <!--<div class="input-group">-->
          <!--<textarea data-ng-model="vm.manual.snippet"-->
                    <!--placeholder="Manual Description"-->
                    <!--class="form-control">-->
          <!--</textarea>-->
        <!--</div>-->
      </div>
    </div>
<summer text="vm.manual.text"></summer>
  </form>
  <button data-ng-click="vm.manageManual()"
          class="btn btn-success"
          data-ng-bind="vm.buttonText">
  </button>
</div>
