<div class="news-panel">
  <div class="row">
    <a ui-sref="dashboard.createManual({catId: 0})">cat1</a>
    <a ui-sref="dashboard.createManual({catId: 1})">cat2</a>
    <a ui-sref="dashboard.createManual({catId: 2})">cat3</a>
    </div>
    <div class="col-md-8">
      <div data-ng-repeat="manual in vm.publications" class="manage-block row">
        <div class="col-md-4">
          <img data-ng-src="{{manual.image}}" width="100%">
        </div>
        <div class="col-md-8">
          <h4 data-ng-bind="manual.title"></h4>
        </div>
        <div class="manage-buttons">
              <span>
                <a class="btn btn-default btn-xs"
                        ui-sref="dashboard.editManual({id: manual.id})"
                        title="Edit Manual">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <button class="btn btn-danger btn-xs"
                        data-ng-click="vm.showDeleteManualModal(manual)"
                        title="Delete Manual">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
              </span>
        </div>
      </div>



    </div>
  </div>
</div>

