<div class="select-image-container noselect" data-ng-class="{'invalid': vm.config.invalid}">
	<div class="select-image-box" data-ng-class="{'image-editable': vm.editable}">
		<img data-ng-if="vm.image" data-ng-src="{{vm.image}}" class="selectable-image" width="100%">
		<img data-ng-hide="vm.image" src="content/images/placeholder_cropped.jpg" class="image-placeholder" width="100%">
		<div class="select-image-overlay" data-ng-if="!vm.config.buttonUnder" data-ng-click="vm.triggerInput()">
			<a href="" ng-hide="vm.image" class="btn btn-primary">Додати фото</a>
			<a href="" ng-show="vm.image" class="btn btn-warning">Змінити фото</a>
		</div>
	</div>
	<input type="file" id='{{vm.inputId}}' class="select-image" onchange="angular.element(this).scope().vm.onImageLoaded(this.files[0])">
</div>